aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
aiosmtplib==4.0.0
annotated-types==0.7.0
anyio==3.6.2
appier==1.34.6
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.11.2
binance-api==0.1.2
bitarray==3.0.0
bleach==6.0.0
cachetools==5.5.2
certifi==2022.12.7
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.3.2
ckzg==2.0.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
coverage==7.6.12
cycler==0.11.0
cytoolz==1.0.0
dateparser==1.2.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
docopt==0.6.2
et_xmlfile==2.0.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eth_abi==5.1.0
executing==2.2.0
fastjsonschema==2.16.2
filelock==3.17.0
fonttools==4.39.4
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.5.0
gate-api==6.93.0
geopandas==1.0.1
h11==0.14.0
hexbytes==1.2.1
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
icecream==2.1.4
identify==2.6.6
idna==3.4
iniconfig==2.0.0
ipykernel==6.21.2
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.5.1
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
lxml==5.2.2
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
multidict==6.1.0
multitasking==0.0.11
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.16.6
nbformat==5.7.3
nbval==0.11.0
nest-asyncio==1.5.6
networkx==3.4.2
nodeenv==1.9.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.0
pandas==2.2.2
pandocfilters==1.5.0
parsimonious==0.10.0
parso==0.8.3
patsy==1.0.1
peewee==3.17.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
platformdirs==4.3.6
pluggy==1.5.0
poly_eip712_structs==0.0.1
pre_commit==4.1.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
propcache==0.3.0
psutil==5.9.4
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
py_clob_client==0.18.0
py_order_utils==0.3.2
pyasn1==0.6.1
pycparser==2.21
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.5.1
Pygments==2.14.0
pyogrio==0.10.0
pyparsing==3.0.9
pyproj==3.7.0
pyrsistent==0.19.3
PySimpleGUI==5.0.10
PySocks==1.7.1
pyTelegramBotAPI==4.22.0
pytest==8.3.3
python-binance==1.0.27
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.6
python-telegram-bot==21.10
pytz==2025.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2024.9.11
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rlp==4.0.1
rsa==4.9.1
scipy==1.15.1
seaborn==0.13.2
selenium==4.30.0
Send2Trash==1.8.0
shapely==2.0.7
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
stack-data==0.6.2
statsmodels==0.14.4
tabulate==0.9.0
telegram==0.0.1
terminado==0.17.1
tinycss2==1.1.1
toolz==1.0.0
tornado==6.2
traitlets==5.9.0
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3
ujson==5.10.0
uri-template==1.2.0
urllib3==2.2.2
virtualenv==20.29.1
wcwidth==0.2.6
webcolors==1.12
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
widgetsnbextension==4.0.5
wsproto==1.2.0
yarg==0.1.9
yarl==1.18.3
yfinance==0.2.40
